* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .dropdown {
  position: relative;
} */

.dropdown-button {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  /* position: absolute;
  top: 100%;
  left: 0; */
}

.dropdown.open .dropdown-menu {
  display: block;
}
